<div class="container  mt-4">
  <h2 class="mb-4">{{'teacher.addNew' | translate}}:</h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form" *ngIf="!spinner">

    <mat-form-field class="form-element">
      <mat-label>{{ 'teacher.name' | translate }}</mat-label>
      <input matInput  formControlName="name">
    </mat-form-field>

   <mat-form-field class="form-element">
     <mat-label>{{ 'teacher.lastName' | translate }}</mat-label>
     <input matInput  formControlName="lastname">
   </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>{{ 'teacher.cin' | translate }}</mat-label>
      <input matInput type="number"  formControlName="cin">
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>{{ 'teacher.email' | translate }}</mat-label>
      <input matInput type="email"  formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'teacher.birthDate' | translate }}</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthdate" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" ></mat-datepicker>
    </mat-form-field>

    <section class="form-element pb-5">
      <mat-checkbox class="example-margin"  formControlName="isOpenForEveningClasses">
        Is Open For Evening Class
      </mat-checkbox>
    </section>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">{{ 'teacher.addTeacher' | translate }}</button>
    </div>

  </form>
  <div  *ngIf="spinner" class="w-100 d-flex justify-content-center align-items-center mt-5">
  <mat-spinner></mat-spinner>
  </div>
</div>
