.mat-calendar-body-cell.selected
{
  background-color:red!important;
  border-radius: 50%
}
.drop-calendar
{
  width:30rem
}
::ng-deep mat-form-field {
  width: 100%;
}

::ng-deep .mat-calendar-body-cell.selected > .mat-calendar-body-cell-content,
::ng-deep .mat-calendar-body-cell.selected:hover > .mat-calendar-body-cell-content,
::ng-deep .mat-calendar-body-cell.selected > .mat-calendar-body-cell-content:hover {
  background-color: #673ab7 !important;
  color: #000 !important;
}
