<div class="container  mt-4">
  <h2 class="mb-4">{{'group.addNew' | translate}}:</h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form" *ngIf="!spinner">

    <mat-form-field class="form-element">
      <mat-label>{{ 'group.name' | translate }}</mat-label>
      <input matInput  formControlName="groupname">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'group.major' | translate }}</mat-label>
      <mat-select formControlName="groupmajore">
        <mat-option *ngFor="let major of Majors" [value]="major">{{major.majorType}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">{{ 'group.addGroup' | translate }}</button>
    </div>

  </form>
  <div  *ngIf="spinner" class="w-100 d-flex justify-content-center align-items-center mt-5">
    <mat-spinner></mat-spinner>
  </div>
</div>
