<div class="container mt-4">
  <h2 class="mb-4">{{'classRoom.list'|translate}}({{classRooms.length}}):</h2>
  <p-table [loading]="spinner" [paginator]="true" [rows]="5"
           [rowsPerPageOptions]="[5,10,15,20]"  [value]="classRooms"
           responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'code' | translate }}</th>
        <th>{{ 'classRoom.classNumber' | translate }}</th>
        <th>{{ 'classRoom.stage' | translate }}</th>
        <th class="action-header">{{ 'actions' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-classroom>
      <tr>
        <td>{{classroom.classroom_id}}</td>
        <td>{{classroom.classroom_number}}</td>
        <td>{{classroom.stage}}</td>
        <td class="d-flex justify-content-around">
          <button mat-button mat-stroked-button class="mat-warn" (click)="removeClassRoom(classroom.classroom_id)">
            {{ 'remove' | translate }}
          </button>
          <button mat-button mat-stroked-button  (click)="updateClassRoom(classroom.classroom_id)" >
            {{ 'update' | translate }}
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td class="border-0">
          {{'noRecordsFound' | translate}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
