<div class="container mt-5">
  <p-table  [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,20]"  [value]="classRooms" responsiveLayout="scroll"  *ngIf="!spinner">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'code' | translate }}</th>
        <th>{{ 'classRoom.classNumber' | translate }}</th>
        <th>{{ 'classRoom.stage' | translate }}</th>
        <th>{{ 'actions' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-classroom>
      <tr>
        <td>{{classroom.classroom_id}}</td>
        <td>{{classroom.classroom_number}}</td>
        <td>{{classroom.stage}}</td>
        <td>
          <button mat-button (click)="removeClassRoom(classroom.classroom_id)">
            {{ 'remove' | translate }}
          </button>
          <button mat-button (click)="updateClassRoom(classroom.classroom_id)">
            {{ 'update' | translate }}
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td class="border-0" [attr.colspan]="columns.length">
          No records found
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div  *ngIf="spinner" class="w-100 d-flex justify-content-center align-items-center mt-5">
    <mat-spinner></mat-spinner>
  </div>
</div>
