<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <p-panel header="Login Example">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

      <div [hidden]="!f['hasError'].value" class="alert alert-danger">
        The Login and Password combination are wrong
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Login:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="login" class="form-control" name="login">
        </div>
        <div class="ui-grid-col-4">
          <div [hidden]="f['login'].valid || !f['login'].dirty" class="alert alert-danger">
            Login is required
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Password:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="password" formControlName="password" class="form-control" name="password">
        </div>
        <div class="ui-grid-col-4">
          <div [hidden]="f['password'].valid || !f['password'].dirty" class="alert alert-danger">
            Password is required
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-6">
          <button pButton type="submit" label="Submit"  [disabled]="!loginForm.valid"></button>
        </div>
        <div class="ui-grid-col-4"></div>
      </div>
    </div>
  </p-panel>
</form>
