.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 10px;
  ::ng-deep .form {

    width: 100%;
    .mat-form-field{
      width: 50%;
      &.form-element {
        padding: 5px 0px 25px 2px;
      }
    }


  }


}

