<div class="container  mt-5">
  <h2 class="mb-4">Add New User:</h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form" *ngIf="!spinner">

    <mat-form-field class="form-element">
      <mat-label>{{ 'user.name' | translate }}</mat-label>
      <input matInput  formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>{{ 'user.lastName' | translate }}</mat-label>
      <input matInput  formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>{{ 'user.password' | translate }}</mat-label>
      <input matInput  type="password"  formControlName="password">
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>{{ 'user.email' | translate }}</mat-label>
      <input matInput type="email"  formControlName="email">
    </mat-form-field>
    <section class="form-element pb-5">
    <mat-checkbox class="example-margin"  formControlName="isManager">{{ 'user.isManager' | translate }}</mat-checkbox>
    </section>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">{{ 'user.addUser' | translate }}</button>
    </div>

  </form>
  <div  *ngIf="spinner" class="w-100 d-flex justify-content-center align-items-center mt-5">
    <mat-spinner></mat-spinner>
  </div>
</div>
