<div class="container  mt-4">
    <h2 class="mb-4">{{ 'departement.updatedepartement' | translate }}:</h2>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form" *ngIf="!spinner">

      <mat-form-field class="form-element">
        <mat-label>{{ 'departement.name' | translate }}</mat-label>
        <input matInput  formControlName="departementname">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'departement.teachername' | translate }}</mat-label>
        <select matNativeControl formControlName="teacher">
          <option *ngFor="let teacher of teachers" [value]="teacher" [selected]="teacher.teacher_ID===f['teacher'].value.teacher_ID" >{{teacher.name}}</option>
        </select>
      </mat-form-field>
      <div class="form-element">
        <button mat-button color="warn" type='button'   class="button mr-3" (click)="cancel($event)">{{ 'cancel' | translate }}</button>
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">{{ 'departement.updatedepartement' | translate }}</button>
      </div>


    </form>
    <div  *ngIf="spinner" class="w-100 d-flex justify-content-center align-items-center mt-5">
      <mat-spinner></mat-spinner>
    </div>
  </div>
