<div class="container mt-5">
  <h2 class="mb-4">Teacher List({{Teachers.length}}):</h2>
  <p-table [loading]="spinner"  [paginator]="true" [rows]="5"
         [rowsPerPageOptions]="[5,10,15,20]"  [value]="Teachers"
         responsiveLayout="scroll" >
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'code' | translate }}</th>
      <th>{{ 'teacher.cin' | translate }}</th>
      <th>{{ 'teacher.name' | translate }}</th>
      <th>{{ 'teacher.lastName' | translate }}</th>
      <th>{{ 'teacher.email' | translate }}</th>
      <th>{{ 'teacher.birthDate' | translate }}</th>
      <th class="action-header">{{ 'actions' | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-teacher>
    <tr>
      <td>{{teacher.teacher_ID}}</td>
      <td>{{teacher.cin}}</td>
      <td>{{teacher.name}}</td>
      <td>{{teacher.lastname}}</td>
      <td>{{teacher.email}}</td>
      <td>{{teacher.birthdate}}</td>
      <td  class="d-flex justify-content-around">
      <button mat-button mat-stroked-button class="mat-warn" (click)="removeTeacher(teacher.teacher_ID)">
        {{ 'remove' | translate }}
      </button>
        <button mat-button mat-stroked-button (click)="updateTeacher(teacher.teacher_ID)">
          {{ 'update' | translate }}
        </button>
        <button mat-button mat-stroked-button (click)="goToSchedule(teacher.teacher_ID)">
          {{ 'consultSchedule' | translate }}
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td class="border-0">
        {{'noRecordsFound' | translate}}
      </td>
    </tr>
  </ng-template>
</p-table>

</div>
